<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Time until December 24, 2018
  </h1>
</div>

<app-countdown units="Year | Month | Days | Hours | Minutes | Seconds" end="December 24, 2018"></app-countdown>

<div style="text-align:center">
  <h1>
    Time until December 24, 2017
  </h1>
</div>

<app-countdown units="Month | Days | Hours | Minutes | Seconds" end="December 24, 2017"></app-countdown>

<div style="text-align:center">
  <h1>
    Time until November 30, 2017
  </h1>
</div>

<app-countdown units="Days | Hours | Minutes | Seconds" end="November 30, 2017"></app-countdown>
