.countdown-timer {
  background-color: #3c434c;
  font-size:20px;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
}

.measurements {
  flex: 0.1;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.divider {
  float: center;
}
