.countdown-timer {
  font-size:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
}

.measurements {
  flex: 0.1;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 8px;
  border-style: solid;
  border-radius: 8px;
  border-color: #00000013;
}

.measurements-text {
  color: #00000038;
}

.divider {
  float: center;
}
